/* ====================================
   Styles for
   SheDoesScream Custom Tumblr Theme
   By @Scintillaluz
   2015, Berlin
   ==================================== */


/* Header */

body {
  font-size: 16px;
}

nav {
  padding: 1em;
  background-color: #343434;
}
